PORT=3000
MONGO_URI=

ZOHO_CLIENT_ID=1000.Q2A57353ZAMAD7XNE7Q3YDGZC4GSBE
ZOHO_CLIENT_SECRET=b4d30646557337fa13a34d297a9cf3c1441a07b5b0
ZOHO_REFRESH_TOKEN=1000.39209630dcb43b91dcb2ea681146576c.a04faf36ab7b02d3b40bb037c1b2e95b

# Optional overrides for regional domains or custom API versions
ZOHO_ACCOUNTS_BASE_URL=https://accounts.zoho.com
ZOHO_CAMPAIGNS_BASE_URL=https://campaigns.zoho.com/api/v1.1

# Optional endpoint overrides
ZOHO_CAMPAIGNS_LISTS_PATH=/getmailinglists
ZOHO_CAMPAIGNS_CREATE_PATH=/createcampaign
ZOHO_CAMPAIGNS_SEND_PATH=/sendcampaign
